* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    pointer-events: none;
    background-image: url(images/noise.png);

    opacity: 0.1;
    mix-blend-mode: darken;

    animation: noise steps(3) 1s infinite;
}

@keyframes noise {
    0%, 100% { transform: translate(0, 0); }
    33% {transform: translate(-5%, -5%); }
    66% {transform: translate(10%, 10%); }
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 1000;
    font-style: italic;

    font-size: 100px;
}

h2 {
    font-family: "Libre Baskerville", serif;
}

h3 {
    font-family: "Libre Baskerville", serif;
}

.silas img {
    position: absolute;
    width: 155px;
    top: 10px;
    left: 38%;
}

.box h1 {
    font-size: 140px;

    text-align: left;
    margin: 0 35px;
}

.box h2 {
    font-size: 50px;

    text-align: left;
    margin: 10px;
}

.grid {
    display: grid;
    height: 100vh;
    width: 100%;

    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 17.5px;

    padding: 25px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: border-width .15s;
}

.box img {
    padding: 10px;
}

.black {
    background-color: #000000;
    color: #ffffff;

    border-style: solid;
    border-width: 0;
    inset: 2px;
    border-color: #ffffff;
}

.white {
    background-color: #ffffff;
    color: #000000;
    
    border-style: solid;
    border-width: 2px;
    inset: 2px;
    border-color: #000000;
}

.box:hover {
    border-width: 4px;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

.background {
    background-image: url("images/background.png");
    background-repeat: repeat;
    background-position: 10px;
    background-size: 300px;

    animation: backscroll 6s linear infinite;
    transition: all .5;
    background-attachment: fixed;
}

.background:hover {
    border-color: #000000;
    filter: invert(100%);
}



.words {
    position: absolute;
    opacity: 0;
    font-size: 20px;
    text-align: center;

    transition: transform .25s, opacity .25s  cubic-bezier( 0.75, 0.00, 0.19, 1.00 );
}


.about:hover > .word1 {
    transform: translate(-80px, 400%);
    opacity: 1;
}

.about:hover > .word2 {
    transform: translate(-80px, -400%);
    opacity: 1;
}

.about:hover > .word3 {
    transform: translate(70px, 400%);
    opacity: 1;
}

.about:hover > .word4 {
    transform: translate(70px, -400%);
    opacity: 1;
}

.flash {
    animation: flash 1.5s step-start infinite;
}

.projects {
    display: flex;
    gap: 20px;
    justify-content:space-around;
    transition: all .15s;
    font-size: 15px;

    text-align: left;
}

.project  {
    position: relative;
}

.project p {
    margin: 30px;
    z-index: 1000;
}

.projects h2{
    font-size: 50px;
    margin: 20px;
    margin-top: 60px;
}

.project h3{
    font-size: 25px;
    margin: 30px;
}

.projectphoto {
    width: 100%;
    height: 200px;
    display: block;
}

.me {
    font-size: 15px;
    transition: all .15s;
}

.me p{
    margin: 30px;
    margin-bottom: 40px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.me:hover {
    font-size: 14.83px;
}


.projects:hover {
    font-size: 14.83px;
}



@keyframes backscroll {
    0% { background-position: 0 0; }
    100% { background-position: 300px 0; }
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% {
        opacity: 0;
    }
}

.links img {
    width: 50px;
}

@media only screen and (max-width: 749px) { 
    .grid {
        grid-template-columns: repeat(1, 1fr);
        height: 300vh;
        width: 100%;
    }

    .box {
        grid-column: span 1;
        grid-row: span 1;
    }

    .box h1 {
        font-size: 50px;
    }

    .box h2 {
        font-size: 40px;
    }

    .silas img {
        position: absolute;
        width: 140px;
        top: 10px;
        left: auto;
        right: 5%;
    }

    .about .mobilehide {
        display: none;
    }

    .about:hover > .word1 {
        transform: translate(0, 0);
        opacity: 0;
    }

    .about:hover > .word2 {
        transform: translate(0, 0);
        opacity: 0;
    }

    .about:hover > .word3 {
        transform: translate(0, 0);
        opacity: 0;
    }

    .about:hover > .word4 {
        transform: translate(0, 0);
        opacity: 0;
    }

    .box:hover {
        border-width: 2px;
    }

    .background:hover {
        border-color: #ffffff;
        filter: none;
    }

    .projects:hover {
        font-size: 15px;
    }
}