body {
    font-family: "DM Sans", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    pointer-events: none;
    background-image: url(images/noise.png);

    opacity: 0.15;
    mix-blend-mode: darken;

    animation: noise steps(3) 1s infinite;
}

@keyframes noise {
    0%, 100% { transform: translate(0, 0); }
    33% {transform: translate(-5%, -5%); }
    66% {transform: translate(10%, 10%); }
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 1000;
    font-style: italic;
}

h2 {
    font-family: "Libre Baskerville", serif;
}

h3 {
    font-family: "Libre Baskerville", serif;
}