* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    min-height: 100vh;

    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    pointer-events: none;
    background-image: url(images/noise.png);

    opacity: 0.1;
    mix-blend-mode: darken;

    animation: noise steps(3) 1s infinite;
}

@keyframes noise {
    0%, 100% { transform: translate(0, 0); }
    33% {transform: translate(-5%, -5%); }
    66% {transform: translate(10%, 10%); }
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 1000;
    font-style: italic;

    font-size: 150px;

    text-align: left;
    margin: 0 35px;
}

h2 {
    font-family: "Libre Baskerville", serif;
}

h3 {
    font-family: "Libre Baskerville", serif;
}

.grid {
    display: grid;
    height: 100vh;
    width: 100%;

    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 17.5px;

    padding: 25px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    transition: all .15s;
}

.box img {
    padding: 10px;
}

.black {
    background-color: #000000;
    color: #ffffff;

    border-style: solid;
    border-width: 0;
    inset: 2px;
    border-color: #ffffff;
}

.white {
    background-color: #ffffff;
    color: #000000;
    
    border-style: solid;
    border-width: 2px;
    inset: 2px;
    border-color: #000000;
}

.box:hover {
    border-width: 4px;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}


@media only screen and (max-width: 749px) { 
    .grid {
        grid-template-columns: repeat(1, 1fr);
        height: 200vh;
    }

    .box {
        grid-column: span 1;
        grid-row: span 1;
    }

    h1 {
        font-size: 60px;
    }
}